/* You can add global styles to this file, and also import other style files */
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
@import url('https://fonts.googleapi.com/css2?family=Pappins:wght;@300;400;500;600&display=swap');
 
@import '~mdb-angular-ui-kit/assets/scss/mdb.scss';

*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none;
    overflow-x: hidden;
    font-family: 'Roboto';
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

.las,.lab{
    display: initial !important;
}
