//css Chart
.Chart{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-top: 1rem;
}
.sidebar{
    width: 200px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: rgb(132,120,208);;
    z-index:100 ;
    transition: width 300ms;
}
.sidebar-brand{
    padding:1rem 0rem 1rem 2rem ;
    color: #fff;
}
.sidebar-brand span{
    display: inline-block;
    padding-right: 1rem;
}
.sidebar-menu{
    margin-top: 1rem;
}
.sidebar-menu li{
    width: 100%;
    margin-bottom: 1.7rem;
    
}
.sidebar-menu a{
    
    display: block;
    color: white;
    font-size: 1.2rem;

}

.sidebar-menu a.active{
    background: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--main-color);
    border-radius: 30px 0px 0px 30px;
}
.sidebar-menu a span:first-child{
    font-size: 1.5rem;
    padding-right: 1rem;
}
#nav-toggle:checked + .sidebar{
    width: 70px;
}
#nav-toggle:checked + .sidebar .sidebar-brand,
#nav-toggle:checked + .sidebar li 
{
   
   text-align: center;
}
#nav-toggle:checked + .sidebar li a
{
   padding-left: 0rem;
}

#nav-toggle:checked + .sidebar .sidebar-brand h2 span:last-child,
#nav-toggle:checked + .sidebar li a span:last-child{
   display: none;
}
#nav-toggle:checked ~ .main-content{
    margin-left: 70px;
}
#nav-toggle:checked ~ .main-content header{
    left: auto;
    width: 95%;
}
.main-content{
    transition: margin-left 300ms;
    margin-left: 200px;
}
header{
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    position: fixed;
    left: 200px;
    width: calc(100% - 200px);
    top: 0;
    z-index: 100;
    transition: left 300ms;
} 

header label{
    cursor: pointer;
    display: initial;
}
header h2{
    color:#222;
    font-size: 1.5rem;
    
}
header h4{
    font-size: 1rem;
}
header label span{
    font-size: 1.7rem;
    padding-right: 1rem;
}
.search-wrapper{
    border: 1px solid #ccc;
    border-radius: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}
.search-wrapper span{ 
   display: inline-block;
   padding: 0rem 1rem;
   font-size: 1.5rem;
}
.search-wrapper input{
    height: 100%;
    padding: 0.5em; 
    outline: none; 
    border: none;
} 
.user-wrapper{
    display: flex;
    align-items: center;
}
.user-wrapper img{
    display: flex;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 1rem;
}

.user-wrapper small{
    display: inline-block;
    color: var(--text-grey);
   
}
main{
    margin-top: 67px;
    padding: 2rem 1.5rem;
    background: #f0f0f0;
    min-height: calc(100vh - 90px);
}
.cards{
    display: grid;
    grid-template-columns:repeat(4, 1fr) ;
    grid-gap: 2rem;
    margin-top: 1rem;
}
.card-single{
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 2rem;
    border-radius: 2px;
}
.card-single div:last-child span{
    font-size: 3rem;
    color: var(--main-color);
}
.card-single span:first-child{
    color: var(--text-grey);
}
.card-single:last-child{
    background: linear-gradient(90deg, rgba(132,120,208,1) 0%, rgba(255,255,255,1) 100%);
}
.card-single:first-child{
    background: linear-gradient(90deg, rgb(100, 82, 216) 0%, rgb(178, 172, 172) 100%);
}
.card-single:nth-last-child(2){
    background: linear-gradient(90deg, rgb(200, 56, 128) 0%, rgb(252, 55, 236) 100%);
}
.card-single:nth-last-child(3){
    background: linear-gradient(90deg, rgb(39, 80, 231) 0%, rgb(252, 55, 236) 100%);
}
.card-single:last-child h1,
.card-single:last-child div:first-child span,
.card-single:last-child span:last-child{
    color: #fff;
}
.recent-grid{
    margin-top: 3rem;
    display: grid;
    grid-gap:2rem;
    grid-template-columns: 67% auto;
}
.card{
    background: #fff;
    border-radius: 6px;

}
.card-header,
.card-body{
    padding: 1rem;
}
.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;

}
.card-header button{
    background: var(--main-color);
    border-radius: 10px;
    color: white;
    font-size: .8rem;
    padding: .5rem 1rem;
    border: 1px solid var(--main-color);
}
table{
    border-collapse: collapse;
}
thead tr{
    border-bottom: 2px solid #f0f0f0;
    border-top: 1px solid #f0f0f0;
 
}
thead td{
    font-weight: 700;
}
 td{
    padding: .5rem 1rem;
    font-size: .9rem;
    color: #222;
}
tr td:last-child{
    display: flex;
    align-items: center;
}
td .status{
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-right: 1rem;
}
.table-responsive{
    width: 100%;
    overflow-x: auto;
}
.customer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.info{
    display: flex;
    align-items: center;
    
}
.info img{
    border-radius: 50%;
    overflow: hidden;
    margin-right: 1rem;
}
.info h4{
    font-size: .8rem;
    font-weight: 600;
    color: #222;
}
.info small{
    font-weight: 600;
    color: var(--text-grey);
}
.contact span{
    font-size: 1.2rem;
    display: inline-block;
    margin-left: .4rem;
    color: var(--main-color);
}
td button{
    background: blue;
    color: white;
    height: 2rem;
    width: 3rem;
    border: none;
    border-radius: 5px;
}
@media only screen and (max-width:1024px) {
    .sidebar{
        width: 70px;
    }
    .sidebar .sidebar-brand,
   .sidebar li 
    {
       padding-left: 1rem;
       text-align: center;
    }
    .sidebar li a
    {
       padding-left: 0rem;
    }
    
     .sidebar .sidebar-brand h2 span:last-child,
    .sidebar li a span:last-child{
       display: none;
    }
   .main-content{
        margin-left: 70px;
    }
    .main-content header{
        width:calc(100% -70px);
        left: 70px;
    } 
    .sidebar:hover{
        width: 345px;
        z-index: 200;
    }
    .sidebar:hover .sidebar-brand,
   .sidebar:hover li 
    {
       padding-left: 2rem;
       text-align:left;
    }
    .sidebar:hover li a
    {
       padding-left: 1rem;
    }
    
     .sidebar:hover .sidebar-brand h2 span:last-child,
    .sidebar:hover li a span:last-child{
       display: inline;
    }
}
@media only screen and (max-width:960px) {
    .cards{
        grid-template-columns: repeat(3, 1fr);
    }
    .recent-grid{
        grid-template-columns: 60% 40%;
    }
}
@media only screen and (max-width:768px) {
    .cards{
        grid-template-columns: repeat(2, 1fr);
    }
    .recent-grid{
        grid-template-columns:100%;
    }
    .project{
        grid-template-columns: 100%;
    }
    .Chart{
        grid-template-columns:100%;
    }
    .search-wrapper{
        display: none;
    }
    .sidebar{
        left: -100% !important;
    }
    header h2{
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    header h2 span{
       text-align: center;
       padding-right: 0rem;
    }
    header h2 label {
        display: inline-block;
       text-align: center;
        background: var(--main-color);
        padding-right: 0rem;
        margin-right: 1rem;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center !important;
    }
    .main-content{
        padding-left: 0rem;

    }
    header{
        width: 100% !important;
        left: 0 !important;
    }
    #nav-toggle:checked + .sidebar{
        left: 0 !important;
        z-index: 100;
        width: 200px;
        margin-top: 5rem;

    }
    .sidebar-menu ul{
        margin-left: 0 !important;
    }
    #nav-toggle:checked + .sidebar .sidebar-brand,
    #nav-toggle:checked + .sidebar li
    {
       /* padding-left: 2rem; */
       text-align:left;
    }
    #nav-toggle:checked + .sidebar li a
    {
       padding-left: 1rem;
    }
    
    #nav-toggle:checked + .sidebar .sidebar-brand h2 span:last-child,
    #nav-toggle:checked + .sidebar li a span:last-child{
       display: inline;
    }
    #nav-toggle:checked ~ .main-content{
        margin-right: 0 !important;
    }

}
@media only screen and (max-width:560px){
    .cards{
        grid-template-columns: 100%;
    }
}
@media only screen and (min-width:320px) and (max-width:425px){
    header h2{
        width:100%;
    } 
    .main-content {
        margin-left: 1px;
    }
}
.sidebar-brand h2{
    font-size: 1.8rem;
    text-align: center;
}
.user-wrapper h4{
    font-size: 1rem;
}
.card-header h3{
    font-size: 1rem;
}
.card-header h3{
    font-size: 1.3rem;
}
.patient{
    animation: zoom 3s;
}
@keyframes zoom {
    0%{
        opacity: 0;
    }
    50%{
        opacity: .5;
    }
    100%{
        opacity: 1;
    }
    
}
