#hiro{
 background-image: url(/assets/homeimage/1.jpg);
 height: 90vh;
 width: 100%;
 margin-top: 6rem;
 background-position: center;
 background-size: cover;
 padding: 0 71px;
 display: flex;
 align-items: flex-start;
 justify-content: center;
 flex-direction: column;
 z-index: 1000;
}
#hiro button{
    background: rgba(4, 98, 171, 0.6);
    color: white;
    font-weight: 500;
    padding: 14px 80px 14px 65px;
    cursor: pointer;
    margin-top: 3rem;
    font-weight: bold;
    border: 0;
    border-radius: 20rem;
}
#hiro h1{
    margin-top:1.5rem;
}
#body{
    text-align: center;
    font-family: "Roboto";
    margin-top: 5rem;
}
#body .carde{
    display:grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(4,1fr);
    margin-top: 2rem;
}
#body .carde .carde-single{
   text-align: start;
   padding: 2rem;
   border: 1px solid #eee;
   border-radius: 10px;
   //box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
#body .carde .carde-single:hover{
    background:rgba(4, 98, 171, 0.6) ;
    color: white;
    animation: cover 1s;
}
@keyframes cover {
    0%{
        transform: translateX(-100px);
    }
    100%{
        transform: translate(0);
    }
}
.cd-bpdy h6{
    font-weight:bold;
    margin-top:2px;
}
.services{
    text-align: center;
    margin-top: 4rem;
   
}
.services .row-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 0;
    margin: 0 auto;
    width: 95%;
   
    img{
        width: 100%;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }   
    .row-part6{
    display: flex;
    flex-direction: column;
    padding: 30px;
    text-align: start;
      
    }   
    .option{
    margin-top: 1.5rem;
    text-align: start;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1;
    }
    .la-check{
        color: blue;
    }
    .row-part3{
        display: flex;
        flex-direction: column;
        padding: 30px;
        text-align: start;
        .tetes{
            margin-top: 5rem;
        }
          
    }   
}
.row-part1{
    position: relative;
    text-align: center;
    overflow: hidden;
    .text{
        position: absolute;
        top: 0;
        left: 0;
        background:#666666;
        color: #fff;
        width: 100%;
        height: 100%;
        padding: 130px 20px;
        transition: all 300ms ease-out;
        opacity: 0;
    }
}
.row-part1:hover .text{
    opacity: 0.8;
}
.row-part1 .tittle{
    transition: all 300ms ease-out;
    transform: translateY(50px);
}
.row-part1 .titre{
    font-size: 2.5em;
    text-transform: uppercase;
    opacity: 0;
    transition-delay: 0.9s;
    transition-duration: 1s;
}
.row-part1:hover .titre{
    opacity: 1;
    transform: translateY(0px);
}
.classe{
    display: grid;
    grid-gap: 1rem;
    position: relative;
    top: 3rem;
    margin: 0 auto;
    width: 95%;
    grid-template-columns: repeat(9,1fr);

    .cart{
        border: 1px solid #eee;
        border-radius: 5px;
        text-align: center;
        padding: 20px;
    }
}
.appointment {
    margin-top: 5rem;
    text-align: center;
    background: rgba(4, 98, 171, 0.6);
    height: 26rem;
    .appoint{
        input{
            width: 25rem;
            border-radius: 6px;
            padding: 12px;
            border: none;
            font-size: 15px;
            margin: 12px;
            outline: none;
        }
    .Clinic{
        
        select{
            width: 16.2rem;
            border-radius: 6px;
            padding: 12px;
            border: none;
            font-size: 15px;
            margin: 12px;
            outline: none;
        }

    }
    button{
    padding: 12px;
    border: none;
    position: absolute;
    border-radius: 6px;
    right: 16.4rem;
    color: white;
    font-weight: 500;
    background: rgb(187, 132, 223);
    }
    }
}