<section id="header">
    <h1>EHRhealth </h1>
    <div>
        <ul id="navbar">
            <li><a href="">Home</a></li>
            <li><a href="">contact</a></li>
            <li><a href=""><i class="fab fa-facebook"></i></a></li>
            <li><a href=""><i class="fab fa-instagram"></i></a></li>
            <li><a href="login">Login</a></li>
            <li><flag-icon country="fr" squared></flag-icon></li>
        </ul>
    </div>

</section>
